
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  --WineColor:#f8b400;
  --SkinColor:#f3f0ef;
  --Roboto:'Roboto', sans-serif;
  --Montserrat: 'Montserrat', sans-serif;;

}
